<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrmOrganisation"
     connectionString="Url=http://crm.proddev.local:5555/MEM33;Domain=proddev; UserName=administrator; Password=s1lv3rb3ar#1;"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>