<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="CrmOrganisation"
     connectionString="Url=https://dazcorp.crm4.dynamics.com; Username=daz@DazCorp.onmicrosoft.com; Password=Tbuddy23; DeviceID=homepc-ba9f6b7b2e6d; DevicePassword=Tbuddy23"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>