<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- I have set up a CRM Online free trial, and have created a user account that can be used to perform integration tests  with. -->
    <!-- If it fails to work for you, try changing the DeviceId and DevicePassword to something new. -->
    <add name="CrmOrganisation"
     connectionString="Url=https://crmadotrial5.crm4.dynamics.com; Username=testing@crmadotrial5.onmicrosoft.com; Password=integr@tion2; DeviceID=homepc-dd9f6b7b2e6d; DevicePassword=Crm__AD0" providerName="System.Data.DynamicsCrm.2013"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="SqlConnection"
    connectionString="Data Source=someserver;Initial Catalog=somedb;Integrated Security=True" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>


  </connectionStrings>
</configuration>
