<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <!-- I have set up a CRM Online free trial, and have created a user account that can be used to perform integration tests  with. -->
    <!-- If it fails to work for you, try changing the DeviceId and DevicePassword to something new. -->
    <add name="CrmOrganisation"
     connectionString="Url=https://crmadotrial7.crm4.dynamics.com; Username=crmado@crmadotrial7.onmicrosoft.com; Password=Crm__AD0; DeviceID=homepc-dd9f6b7b2e6d; DevicePassword=Crm__AD0" providerName="System.Data.DynamicsCrm.2013"
     xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="SqlConnection"
    connectionString="Data Source=dbbear03.sbsouthuk.com;Initial Catalog=PortalDarrellDev;Integrated Security=True" providerName="System.Data.SqlClient"
    xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>

    <add name="RssBus" connectionString="Auth Scheme=NONE;CRM Version=CRM Online Office 365;Device Name=homepc-dd9f6b7b2e6d;Device Password=Crm__AD0;Offline=False;Password=Crm__AD0;Url=https://crmadotrial7.crm4.dynamics.com;User=crmado@crmadotrial7.onmicrosoft.com" providerName="System.Data.Rssbus" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />


  </connectionStrings>
</configuration>