<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:VSExtension="http://schemas.microsoft.com/wix/VSExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
  <Product Id="*" Name="CrmAdo ADO.NET Data Provider" Language="1033" Version="!(bind.FileVersion.CrmAdo.dll)" Manufacturer="Darrell Tunnell" UpgradeCode="0dcf7b53-5dca-439c-b3a7-adf70da4ac5f">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    <UIRef Id="WixUI_Mondo" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate EmbedCab="yes" />
    <WixVariable Id="WixUILicenseRtf" Value="Eula.rtf" />
    <Icon Id="icon.ico" SourceFile="..\images\CrmAdoIcon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
    <Feature Id="ProductFeature" Title="CrmAdo ADO.NET Data Provider" Level="1">
      <!--<ComponentRef Id="CrmAdoAssembly"/>-->
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Feature Id="VSIXFeature" Title="Visual Studio Package" Level="1">
      <ComponentGroupRef Id="VSIX" />
    </Feature>
    <PropertyRef Id="NETFRAMEWORK40FULL"/>

    <Condition Message="This application requires .NET Framework 4.0. Please install the .NET Framework then run this installer again.">
      <![CDATA[Installed OR NETFRAMEWORK40FULL]]>
    </Condition>

    <Binary Id="CustomActionsDll" src="$(var.CrmAdo.Installation.TargetDir)$(var.CrmAdo.Installation.TargetName).CA.dll" />

    <CustomAction Id='SetCustomActionData_ConfigureCrmAdoDataProvider'
               Property='ConfigureCrmAdoDataProvider'
               Value='CrmAdoAssemblyCulture=!(bind.assemblyCulture.CrmAdo.dll);CrmAdoAssemblyName=!(bind.assemblyName.CrmAdo.dll);CrmAdoPublicKeyToken=!(bind.assemblyPublicKeyToken.CrmAdo.dll);CrmAdoVersion=!(bind.FileVersion.CrmAdo.dll);' />

    <CustomAction Id='ConfigureCrmAdoDataProvider' BinaryKey='CustomActionsDll' DllEntry='ConfigureCrmAdoDataProvider'  Return='check' Execute="deferred" Impersonate="no"/>
    <CustomAction Id='RemoveCrmAdoDataProviderConfiguration' BinaryKey='CustomActionsDll' DllEntry='RemoveCrmAdoDataProviderConfiguration' Return='check' Execute='deferred' Impersonate="no"/>
    <InstallExecuteSequence>
      <Custom Action="SetCustomActionData_ConfigureCrmAdoDataProvider" After="CostFinalize" />
      <Custom Action='ConfigureCrmAdoDataProvider' After='InstallFiles'>
        NOT Installed
      </Custom>
      <Custom Action='RemoveCrmAdoDataProviderConfiguration' Before='InstallFinalize'>
        Installed AND NOT UPGRADINGPRODUCTCODE
      </Custom>
    </InstallExecuteSequence>
  </Product>
  <!-- Step 1: Define the directory structure -->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <!--<Directory Id="INSTALLFOLDER" Name="CrmAdo.Setup" />-->
        <Directory Id="ProductDirectory" Name="CrmAdo">
          <Directory Id="GAC" Name="GAC">
            <!--<Component Id="CrmAdoAssembly" Guid="2DE124DB-0C50-4D18-AB4F-BE37FCF46215" DiskId="1">
              -->
            <!-- Registering assembly in GAC -->
            <!--
              <File Id="CrmAdoAssemblyFile" LongName="CrmAdo.dll" Source="$(var.CrmAdo.TargetDir)$(var.CrmAdo.TargetFileName)" KeyPath="yes" Assembly=".net"/>
            </Component>-->
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents">

      <Component  Permanent="no" Id="CrmAdo.dll" Directory="GAC" Guid="D88A8BC2-4A24-4AD5-A6DD-44B33599E52D">

        <!-- Add to GAC. -->
        <File Id="CrmAdo.dll"
            Source="$(var.CrmAdo.TargetDir)$(var.CrmAdo.TargetFileName)"
            Assembly=".net"
            KeyPath="yes" Name="CrmAdo.dll" ProcessorArchitecture="msil" />
      </Component>

      <Component Permanent="no" Id="Microsoft.Xrm.Sdk.dll" Directory="GAC" Guid="C21A799C-12E6-4188-944D-31C1FC44C5F1">

        <!-- Add to GAC. -->

        <File Id="Microsoft.Xrm.Sdk.dll"
            Source="$(var.CrmAdo.TargetDir)Microsoft.Xrm.Sdk.dll"
            Assembly=".net"
            KeyPath="yes" Name="Microsoft.Xrm.Sdk.dll" ProcessorArchitecture="msil"/>
      </Component>

      <Component Permanent="no" Id="Microsoft.Xrm.Client.dll" Directory="GAC" Guid="4E8861AC-E230-401E-81B0-11A15818CCDE">

        <!-- Add to GAC. -->

        <File Id="Microsoft.Xrm.Client.dll"
            Source="$(var.CrmAdo.TargetDir)Microsoft.Xrm.Client.dll"
            Assembly=".net"
            KeyPath="yes" Name="Microsoft.Xrm.Client.dll" ProcessorArchitecture="msil"/>
      </Component>

      <Component  Permanent="no" Id="SQLGeneration.dll" Directory="GAC" Guid="69F8A934-9174-41A7-B2AA-A36A19B5607E">

        <!-- Add to GAC. -->

        <File Id="SQLGeneration.dll"
            Source="$(var.CrmAdo.TargetDir)SQLGeneration.dll"
            Assembly=".net" KeyPath="yes"
           />
      </Component>

    </ComponentGroup>

    <ComponentGroup Id="VSIX">

      <Component Id="CrmAdoVSIX" Directory="TARGETDIR" Guid="9B0ACDE4-CCA9-4BAC-9B69-A805427347C3">

        <!--<VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Vital="no" Permanent="no" />-->

        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="vswinExpress" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="vswinExpress" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="professional" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="professional" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="premium" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="premium" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="ultimate" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.Vs.vsix" PackageId="CrmAdo..844f4586-0bfb-44a2-874f-f464eb4f2ea1" Target="ultimate" TargetVersion="11.0" Vital="no" Permanent="no" />

        <File Id="CrmAdo.Vs.vsix" Source="$(var.CrmAdo.Vs.TargetDir)\CrmAdo.Vs.vsix"  />
      </Component>

    </ComponentGroup>

    <!--<ComponentGroup Id="DDEXComponents">

      <Component Id="DDEXVsix" Directory="TARGETDIR" Guid="DCD772CE-68AE-419F-A0CB-DBD148059F76">

        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Vital="no" Permanent="no" />

        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="vswinExpress" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="vswinExpress" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="professional" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="professional" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="premium" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="premium" TargetVersion="11.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="ultimate" TargetVersion="12.0" Vital="no" Permanent="no"/>
        <VSExtension:VsixPackage File="CrmAdo.DdexProvider.vsix" PackageId="7a1193f1-db85-4bef-ba54-604efcb169a3" Target="ultimate" TargetVersion="11.0" Vital="no" Permanent="no"/>

        <File Id="CrmAdo.DdexProvider.vsix" Source="$(var.CrmAdo.DdexProvider.TargetDir)\CrmAdo.DdexProvider.vsix"  />
      </Component>

    </ComponentGroup>-->

  </Fragment>


</Wix>