<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CrmAdo.EF7.Tests\packages.config" />
  <repository path="..\src\CrmAdo.EF7\packages.config" />
  <repository path="..\src\CrmAdo.InstallationTests\packages.config" />
  <repository path="..\src\CrmAdo\packages.config" />
  <repository path="..\src\CrmEF\packages.config" />
</repositories>