<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\CrmAdo.IntegrationTests\packages.config" />
  <repository path="..\src\CrmAdo.Tests\packages.config" />
  <repository path="..\src\CrmAdo\packages.config" />
  <repository path="..\src\CrmSync\packages.config" />
</repositories>