<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Commands" version="7.0.0-beta4-12175" targetFramework="net451" />
  <package id="EntityFramework.Core" version="7.0.0-beta4-12175" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-beta4-12175" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta4-10813" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta4-10834" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta4-10820" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta4-10820" targetFramework="net451" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta4-10807" targetFramework="net451" />
  <package id="NUnit" version="2.6.3" targetFramework="net451" />
  <package id="NUnitTestAdapter" version="1.2" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.15.0" targetFramework="net451" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.32-beta" targetFramework="net451" />
  <package id="System.IO" version="4.0.10-beta-22606" targetFramework="net451" />
  <package id="System.Linq.Expressions" version="4.0.0-beta-22606" targetFramework="net451" />
  <package id="System.Reflection" version="4.0.10-beta-22606" targetFramework="net451" />
  <package id="System.Reflection.Primitives" version="4.0.0-beta-22606" targetFramework="net451" />
  <package id="System.Runtime" version="4.0.20-beta-22606" targetFramework="net451" />
  <package id="System.Text.Encoding" version="4.0.10-beta-22606" targetFramework="net451" />
  <package id="System.Threading.Tasks" version="4.0.10-beta-22606" targetFramework="net451" />
</packages>