<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework.Core" version="7.0.0-beta4-12325" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-beta4-12325" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net451" />
  <package id="Microsoft.Framework.Cache.Interfaces" version="1.0.0-beta4-10848" targetFramework="net451" />
  <package id="Microsoft.Framework.Cache.Memory" version="1.0.0-beta4-10848" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-beta4-10876" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta4-10876" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta4-10903" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection.Interfaces" version="1.0.0-beta4-10903" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta4-10882" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta4-10882" targetFramework="net451" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta4-10875" targetFramework="net451" />
  <package id="Remotion.Linq" version="2.0.0-alpha-002" targetFramework="net451" />
  <package id="System.Collections.Immutable" version="1.1.33-beta" targetFramework="net451" />
</packages>