<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="2.6.3" targetFramework="net45" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net45" />
  <package id="VSSDK.Data" version="11.0.3" targetFramework="net45" />
  <package id="VSSDK.IDE" version="7.0.3" targetFramework="net45" />
  <package id="VSSDK.IDE.11" version="11.0.3" targetFramework="net45" />
  <package id="VSSDK.OLE.Interop" version="7.0.3" targetFramework="net45" />
  <package id="VSSDK.Shell.Interop" version="7.0.3" targetFramework="net45" />
  <package id="VSSDK.TextManager.Interop" version="7.0.3" targetFramework="net45" />
</packages>